#sidebarLeft {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e4e45;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 100px;
    border-top-right-radius: 5px;
}

#sidebarRight {
    height: 100%;
    width: 460px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1e4e45;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 100px;
    border-top-left-radius: 5px;
}

#logo {
    position: fixed;
    width: 64px
}

.navElement {
    display: block;
    background-color: #1e5e55;
    cursor: pointer;
    margin: 5px 5px 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 3px;
    border-color: whitesmoke;
    border-left-style: solid;
}

.navElement:hover{
    background-color: #348f82;
}

.speechBubble {
    width: fit-content;
    padding: 5px;
    margin: 10px 10px 20px;
}

#mathesisContact {
    background-color: #8f8f8f;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.userSpeech {
    background-color: #64abc2;
    margin-left: auto;
    border-radius: 5px 5px 0 5px;
}

.mathesisSpeech {
    background-color: #8f8f8f;
    border-radius: 5px 5px 5px 0;
}

#output {
    border: 3px solid azure;
    min-height: 20px;
    max-height: 500px;
    overflow-y: auto;
    margin: 5px;
    border-radius: 3px;
    background-color: #2a2a2a;
    padding: 10px 5px;
}

#inputText {
    background-color: #1e1e1e;
    color: azure;
    margin: 5px;
    width: 80%;
    border-radius: 10px;
    border-color: whitesmoke;
    border-width: medium;
    padding: 10px;
}

.quizQuestion {
    background-color: #64abc2;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

button {
    border: none;
    color: whitesmoke;
    padding: 5px;
    background-color: #348f82;
    border-radius: 3px;
    margin: 3px;
}

button:hover {
    background-color: #60bbae;
}

.questionEditButton {
    margin-bottom: 5px;
    border: none;
    color: whitesmoke;
    border-radius: 3px;
}

.questionEditButton:hover {
    background-color: #8f8f8f !important;
}

#submitText {
    background: url('/static/send.png') no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#lessonTitle, #outputTitle {
    border-left: whitesmoke;
    background-color: #348f82;
    border-radius: 3px;
    border-left-style: solid;
    padding: 3px;
}

#confirmationPopup {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: #1e5e55;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    height: 80%;
    border-style: solid;
}

#popupContent {
    height: 80%;
}

#popupDeny {
    height: 80%;
    width: auto;
    font-size: large;
    padding: 5px;
}

#popupConfirm {
    height: 80%;
    width: auto;
    font-size: large;
    float: right;
    padding: 5px;
}

#popupButtonHolder {
    height: 10%;
    width: 40%;
    margin-left: 30%;
}