#sidebarLeft {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e4e45;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 80px;
}

#sidebarRight {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1e4e45;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 80px;
}

.navElement {
    display: block;
    background-color: #1e5e55;
    cursor: pointer;
}

.navElement:hover{
    background-color: #348f82;
}

.speechBubble {
    width: fit-content;
    padding: 5px;
    margin: 10px;
}

#mathesisContact {
    background-color: #8f8f8f;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.userSpeech {
    background-color: #64abc2;
    margin-left: auto;
    border-radius: 5px 5px 0 5px;
}

.mathesisSpeech {
    background-color: #8f8f8f;
    border-radius: 5px 5px 5px 0;
}

#output {
    border: 3px solid azure;
    min-height: 20px;
    max-height: 500px;
    overflow-y: auto;
    margin: 5px;
}

#inputText {
    background-color: #1e1e1e;
    color: azure;
    margin: 5px;
}