<!DOCTYPE html>
<html lang="en" style="background-color: #1e1e1e; color: azure">
<head>
    <meta charset="UTF-8">
    <title>Mathesis</title>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_lessons.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='mathesis.png') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='mathesis.png') }}" style="width: 64px">
    <div id="sidebarLeft"></div>
    <div id="sidebarRight">
        <button id="genQuestions" onclick="generateQuestions()">Generate Quizzes</button>
    </div>
    <div style="margin: auto; width: 50%">
        <h2><i>Mathesis</i> admin lessons menu</h2>
        <h3 id="lessonTitle"></h3><br>
        <div id="lessons"></div>
        <span id="outputTitle"></span><br>


    </div>
</body>
</html>