<!DOCTYPE html>
<html lang="en" style="background-color: #1e1e1e; color: azure">
<head>
    <meta charset="UTF-8">
    <title>Mathesis</title>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='mathesis.png') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='mathesis.png') }}" style="width: 64px">
    <div id="sidenav"></div>
    <div style="margin: auto; width: 50%">
        <h2>Welcome to the <i>Mathesis</i> learning assistant</h2>
        <h3 id="lessonTitle"></h3><br>
        <div id="lessons"></div>
        <span id="outputTitle"></span><br>
        <div>
            <div id="mathesisContact" class="speechBubble">Mathesis</div>
            <div id="output"></div>
        </div>
        <br><hr><br>
        <div id="mainChat">
            <form onsubmit="sendChat()" action="javascript:void(0);">
                <label for="inputText">Input Text</label><br>
                <input id="inputText" name="inputText" type="text" placeholder="Say anything!">
                <input id="submitText" type="submit" value="Send">
            </form>
        </div>

    </div>
</body>
</html>